---
import { getCollection, type CollectionEntry } from 'astro:content';

import Layout from '@layouts/Layout.astro';
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';
import BlogCard from '@components/blog/blog-card.astro';

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries: CollectionEntry<'blog'>[] = await getCollection(
  'blog',
  ({ data }) => !data.draft && data.publishDate < new Date(),
);

// Sort content entries by publication date
publishedBlogEntries.sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Blog</Fragment>
      <Fragment slot="desc">
        We write about building startups and thoughts going on our mind.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          publishedBlogEntries.map((blogPostEntry, index) => (
            <BlogCard cardIndex={index} blogPostEntry={blogPostEntry} />
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
